{% include "usercheck.html" %}

<table align="center" border="2" width="300" bgcolor="aqua">
    <tr><th colspan="10">PLOT DETAILS</th></tr>
    <tr>
        <th>PLOT NO</th>
        <th>ROAD NO</th>
        <th>SURVEY NO</th>
        <th>AREA(sqyard)</th>
        <th>COST/YARD</th>
        <th>OTHER EXP</th>
        <th>BOUNDRARIES</th>
        <th>FACING</th>
        <th>STATUS</th>
        <th>TOTAL COST</th>
    </tr>
    {% for x in data %}
        <tr>
        <th>{{ x.plotno }}</th>
        <th>{{ x.roadno }}</th>
        <th>{{ x.surveyno }}</th>
        <th>{{ x.areasqyrd }}</th>
        <th>{{ x.costpryard }}</th>
        <th>{{ x.otherexp }}</th>
        <th>{{ x.boundaries }}</th>
        <th>{{ x.facing }}</th>
        <th>{{ x.status }}</th>
        <th>{{ x.totalcost }}</th>

        </tr>
    {% endfor %}

</table>
